
.color-title{
    color: #203866;
}
.title-info{
    margin: 1rem 0 2.5rem;
}
.tab-content{
    .title-content-box{
        margin: 1rem 0;
        border-bottom: 1px solid #ccc;
    }
    p{
        font-size: 1.6rem;
    }
    .list-box-content{
        margin-left: 1.6rem;
        li{
            font-size: 1.6rem;
            list-style-type: square;
        }
    }
    .fw-bold{
        font-weight: bold;
    }
    .img-box-tab{
        border-top: 1px solid #ccc;
        img{
            display: block;
            width: 100%;
        }
    }
}