form{
    padding: 2rem 6rem;
    h3{
        color: red;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    .form-group-lh{
        .field-lh{
            margin-top: 1.5rem;
            justify-content: space-between;
            align-items: center;
            label{
                font-size: 13px;
                flex: 1;
                font-weight: 500;
            }
            span{
                flex: 4;
                .input{
                    width: 100%;
                    padding: 7px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    font-size: 13px;
                }
            }
            .textarea{
                display: block;
                width: 100%;
                font-size: 14px;
                padding: .5rem;
            }
        }
        .info{
            padding: 0;
            flex-wrap: nowrap;
            .input-if{
                font-size: 12px;
                margin: 0 5px;
                width: 100%;
                border-radius: 4px;
                border: none;
                outline: none;
                padding: 0 5px;
            }
            label{
                white-space: nowrap;
                font-size: 12px;
            }
            button{
                margin-left: 10px;
                padding: 0;
                border: none;
                background-color: green;
                border-radius: 3px;
                i{
                    padding: 0 4px;
                    color: white;
                }
                
            }
        }
        .button-bt-lh{
            justify-content: center;
            .send{
                margin: 0 5px;
                padding: .6rem 3rem;
                font-size: 14px;
                color: #fff;
                font-weight: 500;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: #0e314c;
                &:focus{
                    outline:none;
                    border:none;
                    background-color: #092031;
                }
                &:hover{
                    background-color: #092031;
                }
            }
        }
    }
}
@media (max-width: 480px){
    form{
        padding: 2rem 2rem;
        h3{
            color: red;
            text-align: center;
        }
        .form-group-lh{
            .info{
                flex-wrap: wrap;
                justify-content: space-around;
                .input-if{
                    margin: 1.5rem .5rem;
                }
                button{
                    margin: 0;
                }
            }
        }
    }
}
@media only screen and (max-width:992px){
    form{
        padding: 2rem 12rem;
    }
}
@media only screen and (max-width:768px){
    form{
        padding: 2rem 4rem;
    }
}