.newFeed{
    background-color: #ebebeb;
    .container{
        .newFeed_flexBox{
            .newFeed_flexBox_boxCard{
                padding-top: 1em;
                .title{
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    color: black;
                    font-weight: bold;
                    padding: 0;
                    width: 100%;
                    text-transform: uppercase;
                    border-bottom: 2px solid #00709e;    
                    margin-bottom: 1rem;
                }
                .lineBottom{
                    .slick-list.draggable{
                        margin: 0 -15px !important;
                        .slick-slide{
                            padding: 0 15px !important;
                        }
                    }
                } 
            }
            .lineBottom{
                overflow: hidden;
               .row{
                   margin: 0;
               }
            }
            .slick{
                display: flex;
                .card{
                    margin-bottom: 1rem;                    
                    display: flex !important;
                    flex-direction: row;
                    .img-block{
                        position: relative;
                        width: 250px;
                        display: inline-block;
                        vertical-align: middle;
                        &:before{
                            content: '';
                            display: block;
                            padding-top: 80%;
                        }
                        img{
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }
                    }
                    .images-carousel{
                        width: 50%;
                    }
                    .flied-card{
                        cursor: pointer;
                        padding: 1rem 1.5rem;
                        display: inline-block;
                        width: calc(100% - 250px);
                        vertical-align: middle;
                        a{  
                            display: block;
                            font-size: 1.4rem ;
                            color: #666666;
                            text-decoration: none;
                            &:hover{
                                color: #00709e; 
                            }
                        }
                        p{
                            font-size: 1.4rem ;
                            color: #666666; 
                        }
                        
                        .card-title{
                            font-weight: bold;
                            font-size: 1.8rem;
                        }
                        .card-date{
                            font-family: monospace;
                        }
                        .card-content{
    
                        }
                    }
                }
            }   
        }
    }
}
.newFeed{
    padding-bottom: 5rem;
    .slick-dots{
        position: absolute;
        bottom: -15px;
        left: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        z-index: 1050;

        li{
            position: relative;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            button{
                font-size: 0;
                line-height: 0;
                display: block;
                width: 15px;
                height: 15px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: #fff;
                border-radius: 50%;
            }
        }
        .slick-active{
            button{
                background-color: #50b7d8;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .newFeed{
        background-color: #ebebeb;
        .container{
            .newFeed_flexBox{
                .newfeed-left-top,.newfeed-right-top{
                    display: none !important;
                }
                .slick{
                    display: flex;
                    .card{
                   
                        display: inline-block !important;

                        .img-block{
                            position: relative;
                            width: 100%;
                            display: block;
                            &:before{
                                content: '';
                                display: block;
                                padding-top: 80%;
                            }
                            img{
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                            }
                        }
                        .flied-card{
                            cursor: pointer;
                            padding: .5rem 1.5rem;
                            display: inline-block;
                            width: 100%;
                            vertical-align: middle;
                            a{  
                                display: block;
                                font-size: 1.4rem ;
                                color: #666666;
                                text-decoration: none;
                                &:hover{
                                    color: #00709e; 
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
}

@media screen and (max-width: 768px){
    .newFeed{
        .container{
            .newFeed_flexBox{
                .newFeed_flexBox_boxCard{
                    .title{
            
                    }
                }
                .lineBottom{
            
                }
                .slick{
                    .images-carousel{
                        width: 100%;
                    }
                    .flied-card{
            
                        p{
                            font-size: 1.6rem !important;    
                        }
                        &:hover{
            
                        }
                        .card-title{
    
                        }
                        .card-date{
                            
                        }
                        .card-content{
    
                        }
                    }
                }   
            }
        }
    }
}
@media screen and (max-width: 992px){
    .newFeed{
        .slick-dots{
            left: 0;
        }
        .container{
            .newFeed_flexBox{
                .slick{
                    .card{
                        .img-block{
                            &:before{
                                padding-top: 60% !important;
                            }
                        }
                    }
                }        
                .newFeed_flexBox_boxCard{
                    .title{
            
                    }
                }
                .lineBottom{
            
                }
                .slick{
                    .card{
                        // margin: 2rem 10rem;
                    }
                }
            }
        }
    }
}
    
@media screen and (max-width: 576px){
    .newFeed{
    
        .container{
            .newFeed_flexBox{
                .newFeed_flexBox_boxCard{
                    .title{
            
                    }
                }
                .lineBottom{
            
                }
                .slick{
                    .card{
                        margin: 2rem 0rem;
                    }
                }
            }
        }
    }
}
    