.sign-up,.sign-in{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 110px;
    left: 50%;
    right: 0;
    display: none;
    transform: translateX(-50%);
    // align-items: center;
    justify-content: center;
    z-index: 101;
    width: 450px;
    form{
        width: 100%;
        padding: 0;
        .form-sign-up,.form-sign-in{
            background-color: #fff;
            padding: 1.5rem;
            text-align: center;
            h1{
                color: #075a9b;
                font-size: 2rem;
            }
            .form-content{
                padding: 0 10px;
                .item-form{
                    width: 400px;
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    span{
                        color: red;
                        padding-left: .5rem;
                    }
                    input{
                        width: 100%;
                        padding: 1rem 1.5rem;
                        border-radius: .5rem;
                        border: 1px solid #cccccc;
                        color: #cccccc;
                        &:focus{
                            outline: none;
                        }
                    }
                    .password-50{
                        width: 50%;
                    }
                    .password-100{
                        width: 100%;
                    }
                    .mg-l{
                        margin-left: 1rem;
                    }
                    button.btn-sign-up{
                        width: 100%;
                        border: none;
                        border-radius: 5px;
                        padding: 1rem 0;
                        background-color: #00709e;
                        font-size: 1.6rem;
                        color: #fff;
                        cursor: pointer;
                        &:focus{
                            outline: none;
                            border: none;
                            background-color: #025374;
                        }
                        &:hover{
                            background-color: #025374;
                        }
                    }
                }
                .text-form{
                    font-size: 1.3rem;
                    justify-content: center;
                    a{
                        margin-left: .3rem;
                        margin-bottom: 0;
                    }
                    p{
                        margin:0;
                    }
                }
            }   
        }
    }
}
.bg-form{
    position: relative;
    &:before{
    content: '';
    z-index: 100;
    display: block;            
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #557887;
    opacity: .8;
    }
}
@media only screen and (max-width:480px){
    .sign-up{
        width: 100%;
        form{
            .form-sign-up{
                h1{
                    font-size: 1.6rem;
                }
            }
            .form-content{
                .item-form{
                    width: 100% !important;
                    .btn-sign-up{
                        font-size: 1.5rem;
                    }
                }
                input{
                    padding: .5rem 1rem;
                    font-size: 1.3rem;
                }
            }
        }
    }
}