.main-info
    .title-info
        h1.color-title Chung cư Green Pearl 378 Minh Khai
    .tab-contents
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link.active(data-toggle="tab",id="home-tab", role="tab", aria-selected="true", href="#tab1") Giới thiệu
            li.nav-item
                a.nav-link(data-toggle="tab",id="home-tab", role="tab", aria-selected="false", href="#tab2") Vị trí
            li.nav-item
                a.nav-link(data-toggle="tab", id="home-tab", role="tab", aria-selected="false", href="#tab3") Mặt bằng
            li.nav-item
                a.nav-link(data-toggle="tab", id="home-tab", role="tab", aria-selected="false", href="#tab4") Tiện ích
            li.nav-item
                a.nav-link(data-toggle="tab", id="home-tab", role="tab", aria-selected="false", href="#tab5") Ưu đãi
            li.nav-item
                a.nav-link(data-toggle="tab", id="home-tab", role="tab", aria-selected="false", href="#tab6") Ngân hàng cho vay
            li.nav-item
                a.nav-link(data-toggle="tab", id="home-tab", role="tab", aria-selected="false", href="#tab7") Liên hệ
        .tab-content
            .tab-pane.fade.show.active#tab1(role="tabpanel")
                .tab-content
                    .tab-slide-content
                    .title-content-box
                        h2.color-title Giới thiệu
                    .main-content-box
                        p Tổ hợp thương mại Machinco Hà Đông là một sản phẩm của Công ty cổ phần thiết bị (Machinco1), được xây dựng theo lối kiến trúc hiện đại với quy mô 7 tầng nổi làm TTTM cho thuê mặt bằng bán lẻ và 1 tầng gửi xe rộng 6.000m2 với sức chứa lớn. Tổng diện tích sàn của dự án vào khoảng 24.000m2, được thiết kế thành các khu chức năng riêng biệt gồm ẩm thực, xem phim, mua sắm, vui chơi, giải trí,...
                        p Sở hữu vị trí chiến lược tại quận Hà Đông, ngay cửa ngõ phía Tây Nam thủ đô, Machinco Hà Đông là một địa điểm lý tưởng, vô cùng thuận lợi cho các hoạt động giao dịch của khách hàng. Với tổng số vốn đầu tư lên tới hàng nghìn tỷ đồng cùng mức giá cho thuê hấp dẫn, trung tâm thương mại Machinco Hà Đông chắc chắn sẽ trở thành địa điểm được nhiều doanh nghiệp, tổ chức lựa chọn làm nơi mở chi nhánh, đặt gian hàng kinh doanh.
                        ol.list-box-content
                            li Tên dự án: Dự án chung cư Green Pearl 378 Minh Khai
                            li Chủ đầu tư: Công ty cổ phần
                            li Vị trí: Số 378
                            li Tổng diện tích dự án: 28.2394 m2
                            li Mật độ xây dựng: 37,33 %
                            li Số tòa: 2
                            li Số tầng: 21
                            li Số căn : 543
                            li Quy mô: 1.600 người.
                            li Loại hình: Biệt thự
                        p.color-title.fw-bold Vị trí dự án
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vitae optio ea quae autem animi?
                    .img-box-tab
                        img(src="../../../dist/html/pages/images/Layer-34.png", alt="34")
                .main-ft.bg-light
                    h3 
                        span Tin đăng cùng khu vực
                    .img-text-info.row
                        .head-img.col-md-6
                            a(href="#")
                                h2.text-overflow Lorem ipsum dolor sit amet consec tetur adipisicing elit.
                            .row
                                img.img-tt.col-4(src="../../html/pages/images/Untitled-6.png", alt="6")
                                .text-info-t.col-8
                                    .row
                                        span.text-if.col-5 Giá 
                                        span.text-if.col-7.pl-4 6000000/tháng
                        .head-img.col-md-6
                            a(href="#")
                                h2.text-overflow Lorem ipsum dolor sit amet consec adipisicing elit.
                            .row
                                img.img-tt.col-4(src="../../html/pages/images/Untitled-6.png", alt="6")
                                .text-info-t.col-8
                                    .row
                                        span.text-if.col-5 Giá 
                                        span.text-if.col-7.pl-4 6000000/tháng
                    .btn-about
                        a(href="#") Xem thêm...
            .tab-pane.fade#tab2(role="tabpanel") 2
            .tab-pane.fade#tab3(role="tabpanel") 3
            .tab-pane.fade#tab4(role="tabpanel") 4
            .tab-pane.fade#tab5(role="tabpanel") 5
            .tab-pane.fade#tab6(role="tabpanel") 6
            .tab-pane.fade#tab7(role="tabpanel") 7
