

section#contact-form.m-auto
    .row
        h1.col-md-12.text-center GỬI THÔNG TIN CHO CHÚNG TÔI
    .form-box
        .form-group.row
            .col-md-6
                input(type="text" placeholder="Họ và tên").form-control
            .col-md-6
                input(type="tel" placeholder="Số điện thoại").form-control
        .form-group.row
            .col-md-6
                input(type="email" placeholder="Email").form-control
            .col-md-6
                label(for="upload_file" class="form-control" id="custom_upload") Ảnh
                    input(type="file" class="form-control hidden" id="upload_file")
                    i.fas.fa-upload#upload_icon
        .form-group.row
            .col-md-12
                textarea.form-control.text-area(rows="12" col="5" placeholder="Mô tả")
        .row
            .col-12.text-center
                input.button(type="submit" value="Gửi")