form.form-lh
    h3 THÔNG TIN BAN QUẢN TRỊ
    .form-group-lh
        .field-lh.row
            label Họ tên
            span
                input.input(type="text" placeholder="Nhập họ và tên")
        .field-lh.row
            label Email
            span
                input.input(type="text" placeholder="Nhập email")
        .field-lh.row.mt-5
            label Tiêu đề
            span
                input.input(type="text" placeholder="Nhập tiêu đề")
        .field-lh.row
            label Nội dung
            textarea.textarea(cols="10", rows="6")
        //- .field-lh.row.info
        //-     label Mã xác nhận
        //-     input.input-if(type="text")
        //-     img(src="../../../dist/assets/images/Captcha.aspx", alt="")
        //-     button
                i.fas.fa-thumbs-down
        .field-lh.row.button-bt-lh
            button.send GỬI
            //- button xóa
        