.main-info
    .text-heading
        h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas?
        span Giá: 12.000.000/tháng
        span Địa chỉ: Quận Thanh Xuân - Hà Nội
        span Ngày đăng: 24/2/2019
    .title-main
        h2 Mô tả
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptatibus repellat et quibusdam ea vero!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laboriosam voluptas id reiciendis quam modi suscipit sed reprehenderit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate ad optio culpa reprehenderit?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptate at culpa magnam quos reprehenderit in nulla. Unde repellat dolore error vero animi, dicta aliquid obcaecati rerum accusantium! Laborum, sunt. Illo, molestias mollitia.
    .img-info
        img(src="../../html/pages/images/Untitled-8.png", alt="8")
        p Lorem ipsum dolor sit amet.
    .title-main
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptatibus repellat et quibusdam ea vero!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laboriosam voluptas id reiciendis quam modi suscipit sed reprehenderit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate ad optio culpa re
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptatibus repellat et quibusdam ea vero!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laboriosam voluptas id reiciendis quam modi suscipit sed reprehenderit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate ad optio culpa re
    .btn-info-ft.row
        button.bg-b
            span 
                i.fas.fa-thumbs-up  thích 0
        button.bg-or
            span 
                i.fas.fa-notes-medical  chia sẻ
    .form-info
        h1 Bình luận
        p.commen Trả lời
        textarea(cols="80", rows="5")
        .field-info
            label Tên *
            input(type="text")
        .field-info
            label Email
            input.mg-l(type="text")
        button Gửi bình luận
.main-ft
    h3 
        span Tin cùng chuyên mục
    .img-text-info.row
        .head-img.col-md-6.col-sm-12
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6(href="#").px-0
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur aspernatur.
        .head-img.col-md-6.col-sm-12
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6(href="#").px-0
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur
    .btn-about
        a(href="#") Xem thêm...

