.navigation
    .container.px-0
        .header
            a(href="#").logo__img
                img(src="../../html/pages/images/Untitled-1.png", alt="")
            .banner__img
                img(src="../../html/pages/images/Untitled-2.png", alt="")
    .menu
        //- .container    
        ul.nav__list
            .active
                li.nav__item
                    a(href="../../../dist/html/pages/index.html").nav__link Trang chủ

            li.nav__item
                a(href="../../../dist/html/pages/gioithieu.html").nav__link Giới thiệu
            li.nav__item
                a(href="../../../dist/html/pages/testcm.html").nav__link Nhà bán đất <i class="fas fa-caret-down"></i>
                ul.nav-sub__list
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/testcm.html").nav-sub__link Đất nền
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/nhadatban.html").nav-sub__link Chung cư
            li.nav__item
                a(href="../../../dist/html/pages/duan.html").nav__link Dự án <i class="fas fa-caret-down"></i>
                ul.nav-sub__list
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/duan.html").nav-sub__link Đất nền
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/duan.html").nav-sub__link Chung cư
            li.nav__item
                a(href="../../../dist/html/pages/chothue.html").nav__link Cho thuê <i class="fas fa-caret-down"></i>
                ul.nav-sub__list
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/chothue.html").nav-sub__link Đất nền
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/chothue.html").nav-sub__link Chung cư
                    li.nav-sub-item
                        a(href="../../../dist/html/pages/chothue.html").nav-sub__link Nhà trọ
            li.nav__item
                a(href="../../../dist/html/pages/tintuc.html").nav__link Tin tức

            li.nav__item
                a(href="../../../dist/html/pages/kygui.html").nav__link Ký gửi

            li.nav__item
                a(href="../../../dist/html/pages/lienhe.html").nav__link Liên Hệ

            li.nav__item
                a(href="#").nav__link.click-sign-up
                    <i class="fas fa-sign-out-alt"></i> Đăng Ký

                li.nav__item
                    a(href="#").nav__link.click-sign-in
                        <i class="fas fa-sign-out-alt"></i> Đăng Nhập
            
    .menu-mobile
        .dropdown-nav
            span.menu-toggle <i class="fas fa-bars dropmenu"></i>
                ul.nav__list
                        li.nav__item.active
                            a(href="../../../dist/html/pages/index.html").nav__link Trang chủ
                        li.nav__item
                            a(href="../../../dist/html/pages/gioithieu.html").nav__link Giới thiệu    
                        li.nav__item
                            a(href="../../../dist/html/pages/testcm.html").nav__link Nhà bán đất
                            input.btn-showMenu(type="button" value="+")
                            ul.nav-sub__list
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/testcm.html").nav-sub__link Nhà bán đất
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/testcm.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/nhadatban.html").nav-sub__link Chung cư                    
                        li.nav__item
                            a(href="../../../dist/html/pages/duan.html").nav__link Dự án
                            input.btn-showMenu(type="button" value="+")
                            ul.nav-sub__list
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/duan.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/duan.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/duan.html").nav-sub__link Chung cư
                        li.nav__item
                            a(href="../../../dist/html/pages/chothue.html").nav__link Cho thuê
                            input.btn-showMenu(type="button" value="+")
                            ul.nav-sub__list
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/chothue.html").nav-sub__link Đất nền
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/chothue.html").nav-sub__link Chung cư
                                li.nav-sub-item
                                    a(href="../../../dist/html/pages/chothue.html").nav-sub__link Nhà trọ
                        li.nav__item
                            a(href="../../../dist/html/pages/tintuc.html").nav__link Tin tức
                        li.nav__item
                            a(href="../../../dist/html/pages/kygui.html").nav__link Ký gửi
                        li.nav__item
                            a(href="../../../dist/html/pages/lienhe.html").nav__link Liên Hệ
                        li.nav__item
                            a(href="#").nav__link.click-sign-up
                                <i class="fas fa-sign-out-alt"></i> Đăng Ký    
                        li.nav__item
                            a(href="#").nav__link.click-sign-in
                                <i class="fas fa-sign-out-alt"></i> Đăng Nhập        