.sign-in
    form(action="#").form-signup
        .form-sign-in
            h1 ĐĂNG NHẬP
            .form-content
                .item-form
                    input(type="text" placeholder="Tên đăng nhập")
                .item-form
                    input(type="password" class="password" placeholder="Mật khẩu")
                .item-form
                    button.btn-sign-up(type="button") Đăng nhập
                .item-form.text-form
                    p Bạn chưa có tài khoản?
                    a(href="#").sign-up-click Đăng ký
