.sign-up
    form(action="#")
        .form-sign-up
            h1 ĐĂNG KÝ TÀI KHOẢN
            .form-content
                .item-form
                    input(type="text" placeholder="Tên đăng nhập")
                    span *
                .item-form
                    input(type="email" placeholder="Địa chỉ email")
                    span *
                .item-form.pas
                    input(type="password" class="password" placeholder="Mật khẩu")
                    input(type="password" class="password mg-l" placeholder="Nhập lại mật khẩu")
                    span *
                .item-form
                    button.btn-sign-up(type="button") Đăng ký
                .item-form.text-form
                    p Đã là thành viên?
                    a(href="#").sign-in-click Đăng nhập
