.main-info
    .text-heading
        h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas?
        p Giá: 12.000.000/tháng
        p Địa chỉ: Quận Thanh Xuân - Hà Nội
        p Ngày đăng: 24/2/2019
    .title-main.bd-t
        h2 Mô tả
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptatibus repellat et quibusdam ea vero!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laboriosam voluptas id reiciendis quam modi suscipit sed reprehenderit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate ad optio culpa reprehenderit?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptate at culpa magnam quos rephenderit in nulla. Unde repellat dolore error vero animi, dicta aliquid obcaecati rerum accusantium! Laborum, sunt. Illo, molestias mollitia.
        span Lorem ipsum dolor sit amet.


    section.chitiet
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link.active(data-toggle="tab" href="#hinhanh") Hình ảnh
            li.nav-item
                a.nav-link(data-toggle="tab" href="#video") Video
            li.nav-item
                a.nav-link(data-toggle="tab" href="#map") Map
        .tab-content
            #hinhanh.tab-pane.active
                .rentHome
                    .container
                        .row
                            .slick.rentHome-left-top
                                .card
                                    img(src="../../assets/images/photo-bee_orange.jpg", alt="New Feed" class="images-carousel")
                                
                                
                                

                            
                            
                        
                        
                        
                        

                            
            #video.tab-pane.fade
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/bMJWAORH3lQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            #map.tab-pane.fade 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.25576639103!2d106.62651181480085!3d10.791712492311127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c002274302d%3A0xa2861cf56c79872!2zNzYsIDE3IFTDom4gSMawxqFuZywgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1560935272605!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    .table-box-da.bd-t
        h3 Thông tin liên hệ
        table
            tr
                td Tên liên lạc
                td Nguyễn Trung
            tr
                td Địa chỉ
                td Ba Đình - Hà Nội
            tr
                td Di động
                td 0987654321
            tr
                td Email
                td ngtrung1209@gmail.com
    .btn-info-ft.row.justify-content-center.mt-3
        button.bg-b
            span 
                i.fas.fa-thumbs-up  thích 0
        button.bg-or
            span 
                i.fas.fa-notes-medical  chia sẻ
.main-ft
    h3 
        span Tin đăng cùng khu vực
    .img-text-info.row
        .head-img.col-md-6.col-sm-12
            a(href="#")
                h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            .row
                img.img-tt.col-4(src="../../../dist/assets/images/Untitled-6.png", alt="6")
                .text-info-t.col-8
                    .row
                        span.text-if.col-5 Giá 
                        span.text-if.col-7 6000000/tháng
                    .row
                        span.text-if.col-5 Diện tích
                        span.text-if.col-7  không xác định
                    .row
                        span.text-if.col-5 Vị trí
                        span.text-if.col-7  Quận 5/HCM
        .head-img.col-md-6.col-sm-12
            a(href="#")
                h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            .row
                img.img-tt.col-4(src="../../../dist/assets/images/Untitled-6.png", alt="6")
                .text-info-t.col-8
                    .row
                        span.text-if.col-5 Giá 
                        span.text-if.col-7 6000000/tháng
                    .row
                        span.text-if.col-5 Diện tích
                        span.text-if.col-7 không xác định
                    .row
                        span.text-if.col-5 Vị trí
                        span.text-if.col-7 Quận 5/HCM
