.info-test
    h3.title-info Tin tức nổi bật
    .img-test-info
        .row
            .col-md-6
                .img-test
                    img(src="../../html/pages/images/Layer-33_03.png", alt="33")
                    a(href="#")
                        h3.title-top Đất nền khu vực nào đang được rao bán mạnh
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio ducimus deleniti totam cupiditate facilis, vero mollitia dolor quidem magni beatae sunt, voluptas omnis unde voluptate.
            .col-md-6.pl-lg-0
                .row.img-info
                    img.col-4(src="../../html/pages/images/Untitled-6.png", alt="6")
                    a.col-8(href="#")
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio!
                .row.img-info
                    img.col-4(src="../../html/pages/images/Untitled-7.png", alt="7")
                    a.col-8(href="#")
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio!
                .row.img-info
                    img.col-4(src="../../html/pages/images/Untitled-6.png", alt="6")
                    a.col-8(href="#")
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio!
                ul
                    li
                        a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    li
                        a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque.
                    li
                        a(href="#") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, exercitationem.
                    li
                        a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis.
.main-ft
    h3 
        span Tìm thị trường
    .img-text-info.row
        .head-img.col-md-6
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6.pl-0(href="#")
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur aspernatur.
        .head-img.col-md-6.pl-lg-0
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6.pl-0(href="#")
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur
    .btn-about
        a(href="#") Xem thêm...
.main-ft
    h3 
        span Phong thủy
    .img-text-info.row
        .head-img.col-md-6
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6.pl-0(href="#")
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur aspernatur.
        .head-img.col-md-6.pl-lg-0
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6.pl-0(href="#")
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur
    .btn-about
        a(href="#") Xem thêm...
.main-ft
    h3 
        span Tư vấn luật
    .img-text-info.row
        .head-img.col-md-6
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6.pl-0(href="#")
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur aspernatur.
        .head-img.col-md-6.pl-lg-0
            .row
                img.col-6(src="../../html/pages/images/Untitled-6.png", alt="6")
                a.col-6.pl-0(href="#")
                    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veritatis non blanditiis?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci itaque impedit laudantium dolores tempora consequuntur praesentium ipsa fugit accusantium eum, corrupti, enim, repudiandae consequatur
    .btn-about
        a(href="#") Xem thêm...