extends ../layouts/layout.pug
block main-content
    include ../patials/banner.pug

    .wrapper-main-content.pt-4       
        .container
            .banner-left
                .img-bn
                    img(src="../../../dist/assets/images/Layer 171.jpg", alt="171")
                    img(src="../../../dist/assets/images/Layer 18.png", alt="18")
            .banner-right
                .img-bn
                    img(src="../../../dist/assets/images/Layer 171.jpg", alt="171")
                    img(src="../../../dist/assets/images/Layer 18.png", alt="18") 
            .row
                .main-block.col-lg-8.col-md-12.col-sm-12
                    include ../patials/mainContent.pug
                .sidebar-right-block.col-lg-4.col-md-12.col-sm-12
                    include ../patials/form.pug

    include ../patials/newFeed.pug

    
    
