extends ../layouts/layout.pug
block main-content
    .wrapper-main-content.pt-4
        .container
            .row
                .main-block.col-md-8.p-0
                    include ../patials/mainContent.pug
                .sidebar-right-block.col-md-4.p-0.pl-2
                    include ../patials/tabs.pug
            .banner-right
                .img-bn
                    img(src="../../html/pages/images/Layer 171.jpg", alt="171")
                    img(src="../../html/pages/images/Layer 18.png", alt="18")
            .banner-left
                .img-bn
                    img(src="../../html/pages/images/Layer 171.jpg", alt="171")
                    img(src="../../html/pages/images/Layer 18.png", alt="18")        

